<html>
<head>
	<title>Bianca learning django</title>
	<style>
body {
font-family:"Arial";
font-size:20;
background-color: #66ff33;
}
	</style>
</head>
<body>
	<div style="text-align:center;">
	<h1>Bianca learning django</h1>
	<p>Hello, my name is Bianca, and this is the result of my journey in django and HTML</p>
	<p>It's pretty low key, to be optmistic</p>
	</div>
	{% for post in posts %}
    		<div>
        		<p>published: {{ post.published_date }}</p>
        		<h1>{{ post.title }}</h1>
        		<p>{{ post.text|linebreaksbr }}</p>
    		</div>
	{% endfor %}
	
</body>
</html>